/* general properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* header start*/
header nav {
    background-color: grey;
    padding: 2rem;
    padding-right: 4rem;
    font-size: 18px;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    column-gap: 1rem;
}

header nav ul li{
    padding: 1rem;
    background-color: white;
}

#nav-li1{
    margin-right: auto;
}

#nav-li5{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
/* header end*/

/* nav start*/

/* nav end*/
/* main start*/

/* main end*/
/* section1 start*/

/* section1 end*/
/* section2 start*/

/* section2 end*/
/* section3 start*/

/* section3 end*/
/* section4 start*/

/* section4 end*/
/* section5 start*/

/* section5 end*/
/* section6 start*/

/* section6 end*/



/* footer start*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
    row-gap: 2.5rem;
    padding: 8rem;
}

footer h3{
    font-size: 2rem;
}

footer ul {
    display: flex;
    list-style-type: none;
    column-gap: 2.5rem;
}

.navigation{
    font-size: 1.5rem;
}
.navigation li{
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
}

.social-media li{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4.5rem;
    min-height: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: lightgrey;
    border-radius: 50%;
}
/* footer end*/
